footer(id="contacts")
  div.contact-container
    div.header-container
      h2 Позвоните
      h2 нам
      h2 прямо сейчас
    a.contact-number(href="tel:+375298804811")
      img.contact-icon(src="../img/call-icon.svg" alt="телефонная трубка")
      div.separator
      span +375 (29) 880-48-11
  div.img-container
    img(src="../img/laundry1.jpg" alt="laundry" class="front")
    img(src="../img/laundry2.jpg" alt="laundry")
  div.mobile-contact-container.padding-wrapper
    h2 Позвоните нам прямо сейчас
    a.contact-number(href="tel:+375298804811")
      img.contact-icon(src="../img/call-icon.svg" alt="телефонная трубка")
      div.separator
      span +375 (29) 880-48-11
