header.header.padding-wrapper
  nav
    a(href="#services") Услуги
    a(href="#contacts") Контакты
  div.header__title
    h1 Ремонт вашей стиральной машины в Витебске
    h2 Узнайте стоимость вашего ремонта, просто набрав нам
  a.header__anchor.phone-anchor(href="#services")
    span Услуги
  a.header__anchor(href="#contacts")
    span Позвонить
  div.cards
    div.cards__element
      p Качественный ремонт
      span Мы используем проверенные комплектующие
    div.cards__element
      p Гарантия обслуживания
      span Замена деталей при поломке по нашей причине
    div.cards__element
      p Доставка и ремонт
      span Доставим детали и выполним ремонт в удобное для вас время
