// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$white: #ffffff;
$black: #000000;
$grey: #505050;
$nero: #1D1918;
$papayawhip: #ffefd5;
